<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href=".../public/assets/css/burger_style.css" type="text/css" />
		<title>Eat-Da-Burger!</title>
	</head>
	<body>
		<div>
		<h1>Eat-Da-Burger!</h1>
		</div>

		<div>
			{{{ body }}}
		</div>

	</body>
</html>